
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #f9fafb; 
  font-family: Arial, sans-serif;
  height: 100vh;
}

form {
  display: flex;
  gap: 0.5rem;
  width: 300px;
}
